@use './variables' as v;

@mixin blue-button {
  margin: auto;
  max-width: inherit;
  margin-top: 1rem;
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  border: none;
  background-color: v.$color-primary-blue;
  color: white;
  font-family: v.$font;
  font-size: 1rem;
  font-weight: 500;
  box-shadow: none;
  letter-spacing: 0.02rem;


  /* For mouse */
  @media (hover: hover) and (pointer: fine) {
    cursor: pointer;
  }

  /* For touch */
  @media (hover: none) and (pointer: coarse) {
    cursor: default;
  }

  &:hover {
    background: v.$color-primary-orange;
  }
}

@mixin orange-button {
  margin: 0 auto;
  max-width: inherit;
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  border: none;
  background-color: v.$color-primary-orange;
  color: white;
  font-family: v.$font;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.02rem;
  box-shadow: none;

  /* For mouse */
  @media (hover: hover) and (pointer: fine) {
    cursor: pointer;
  }

  /* For touch */
  @media (hover: none) and (pointer: coarse) {
    cursor: default;
  }

  &:hover {
    background: v.$color-primary-blue;
  }
}

@mixin fetch-button {
  .Btn {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background-color: v.$color-primary-blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    transition-duration: .3s;
    margin-bottom: 0.5rem;

    /* For mouse */
    @media (hover: hover) and (pointer: fine) {
      cursor: pointer;
    }

    /* For touch */
    @media (hover: none) and (pointer: coarse) {
      cursor: default;
    }

  }

  .svgIcon {
    fill: white;
  }

  .icon2 {
    width: 18px;
    height: 5px;
    border-bottom: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid white;
  }

  .tooltip {
    position: absolute;
    right: -105px;
    opacity: 0;
    background-color: rgb(12, 12, 12);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: .2s;
    pointer-events: none;
    letter-spacing: 0.5px;
  }

  .tooltip::before {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    background-color: rgb(12, 12, 12);
    background-size: 1000%;
    background-position: center;
    transform: rotate(45deg);
    left: -5%;
    transition-duration: .3s;
  }

  /* .Btn:hover .tooltip {
      opacity: 1;
      transition-duration: .3s;
    } */

  .Btn:hover {
    background-color: v.$color-primary-orange;
    transition-duration: .3s;
  }

  .Btn:hover .icon2 {
    border-bottom: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid white;
  }

  .Btn:hover .svgIcon {
    fill: rgb(255, 255, 255);
    animation: slide-in-top 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }

  @keyframes slide-in-top {
    0% {
      transform: translateY(-10px);
      opacity: 0;
    }

    100% {
      transform: translateY(0px);
      opacity: 1;
    }
  }

}

@mixin modal-container {
  overflow: auto;
  scrollbar-width: none;
  position: fixed;
  display: flex;
  flex-direction: column;
  top: auto;
  transform: translate(-50%, -50%);
  width: 80vw;
  height: 80vh;
  background-color: white;
  border-radius: 0.5rem;
  padding: 2rem;
  border-top: 1px solid v.$color-primary-blue;
  border-bottom: 1px solid v.$color-primary-orange;
  border-left: 1px solid v.$color-primary-orange;
  border-right: 1px solid v.$color-primary-blue;
  box-shadow: -5px 0 10px #66666610,
    -5px 0 10px #ffffff05,
    5px 0 10px #6666660e;

  &::-webkit-scrollbar {
    display: none;
    /* For Chrome, Safari and Opera */
  }
}

@mixin not-viewed {
  background-color: #FFFFFF;
  border: 1px solid rgb(19, 209, 19);
  border-radius: 0.5rem;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(7, 175, 7, 0.041);
    border-radius: inherit;
    box-shadow: 0 0 10px 1px rgba(108, 243, 74, 0.39); // Couleur brillante pour l'effet lumineux
    z-index: 0;
  }
}

@mixin selected {
  background-color: #FFFFFF;
  border: 1px solid v.$color-primary-blue;
  border-radius: 0.5rem;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #028cef11;
    border-radius: inherit;
    box-shadow: 0 0 10px 1px rgba(137, 202, 228, 0.801); // Couleur brillante pour l'effet lumineux
    z-index: 0;
  }
}

@mixin selected-user {
  background-color: #FFFFFF;
  border: 1px solid v.$color-primary-orange;
  border-radius: 0.5rem;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f37b040c;
    border-radius: inherit;
    box-shadow: 0 0 8px 1px rgba(231, 197, 104, 0.774); // Couleur brillante pour l'effet lumineux
    z-index: 0;
  }
}

@mixin deleted {
  background-color: #FFFFFF;
  border: 1px solid v.$color-deleted-grey;
  border-radius: 0.5rem;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: v.$color-deleted-grey;
    border-radius: inherit;
    z-index: 0;
  }
}

@mixin select {
  .center {
    width: 50%;
    display: flex;
    margin: 0.5rem auto;

    &.setting {
      width: 100%;
    }

    /** Custom Select **/
    .custom-select-wrapper {
      width: 100%;
      max-width: 100%;
      border-radius: 0.5rem;
    }

    .custom-select-wrapper select {
      display: none;
    }

    .custom-select {
      width: 100%;
      position: relative;
      display: inline-block;
      border-radius: 0.5rem;
    }

    .custom-select-trigger {
      width: 100%;
      padding: 0.5rem 1.8rem 0.5rem 0.8rem;
      font-size: 1rem;
      font-weight: 400;
      color: black;
      background: white;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      border-radius: 0.5rem;
      box-shadow: -5px 0 10px #66666610,
        -5px 0 10px #ffffff05,
        5px 0 10px #6666660e;

      /* For mouse */
      @media (hover: hover) and (pointer: fine) {
        cursor: pointer;
      }

      /* For touch */
      @media (hover: none) and (pointer: coarse) {
        cursor: default;
      }

      &.no-data {
        color: #a19f9f;
      }
    }

    .custom-select-trigger:after {
      position: absolute;
      display: block;

      content: '';
      width: 10px;
      height: 10px;
      top: 50%;
      right: 1rem;
      margin-top: -3px;
      border-bottom: 2px solid v.$color-primary-orange;
      border-right: 2px solid v.$color-primary-orange;
      transform: rotate(45deg) translateY(-50%);
      transition: all .4s ease-in-out;
      transform-origin: 50% 0;
    }

    .custom-select.opened .custom-select-trigger:after {
      margin-top: 3px;
      transform: rotate(-135deg) translateY(-50%);
    }

    .custom-options {
      max-height: 50vh;
      scrollbar-width: thin;
      overflow: auto;
      position: absolute;
      display: block;
      top: 100%;
      left: 0;
      right: 0;
      min-width: 100%;
      margin: 0.5rem 0;
      border-radius: 0.5rem;
      box-sizing: border-box;
      box-shadow: 0 2px 1px rgba(0, 0, 0, .07);
      background: #fff;
      transition: all .4s ease-in-out;
      z-index: 5;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      transform: translateY(-15px);

      /* &::-webkit-scrollbar {
        display: none;
        
      } */
    }

    .custom-select.opened .custom-options {
      opacity: 1;
      visibility: visible;
      pointer-events: all;
      transform: translateY(0);
    }

    .custom-options:before {
      position: absolute;
      display: block;
      content: '';
      bottom: 100%;
      right: 25px;
      width: 7px;
      height: 7px;
      margin-bottom: -4px;
      background: #fff;
      transform: rotate(45deg);
      transition: all .4s ease-in-out;
    }

    .option-hover:before {
      background: #f9f9f9;
    }

    .custom-option {
      position: relative;
      display: block;
      padding: 0 0.6rem;
      border-bottom: 1px solid #b5b5b53f;
      font-size: 1rem;
      font-weight: 400;
      color: #5c5a5a;
      line-height: 2rem;
      transition: all .1s ease-in-out;

      /* For mouse */
      @media (hover: hover) and (pointer: fine) {
        cursor: pointer;
      }

      /* For touch */
      @media (hover: none) and (pointer: coarse) {
        cursor: default;
      }

    }

    .custom-option:first-of-type {
      border-radius: 4px 4px 0 0;
    }

    .custom-option:last-of-type {
      border-bottom: 0;
      border-radius: 0 0 4px 4px;
    }

    .custom-option:hover,
    .custom-option.selection {
      background: v.$color-secondary-blue;
    }
  }

  @media (max-width: 900px) {
    .center {
      width: 80%;
    }

  }

  @media (max-width: 480px) {
    .center {
      width: 100%;


      .custom-options {
        position: fixed;
        top: 3.8rem;
        left: 0;
        width: 100%;
        margin-top: 0;
        height: fit-content;
        max-height: 70dvh;
        display: block;
        overflow-y: auto;
        background-color: white;
        border-radius: 0 0 0.5rem 0.5rem;
        box-shadow: 0 4px 6px 5px rgba(0, 0, 0, 0.15);
      }

      /* .custom-options::before,
      .custom-options::after {
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        background: linear-gradient(to right, transparent 0%, v.$color-primary-blue, v.$color-primary-orange, transparent 100%);
      }


      .custom-options::before {
        transform: none;
        top: 0;
      }

      .custom-options::after {
        bottom: 0;
      } */

      
    }

  }

}

@mixin urgent-item {
  background-color: #FFFFFF;
  border: 1px solid red;
  border-radius: 0.5rem;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.034);
    border-radius: inherit;
    box-shadow: 0 0 10px 1px rgba(245, 103, 103, 0.534); // Couleur brillante pour l'effet lumineux
    z-index: 0;
  }
}

@mixin border {
  outline: none;
  border-top: 1px solid v.$color-primary-blue;
  border-bottom: 1px solid v.$color-primary-orange;
  border-left: 1px solid v.$color-primary-orange;
  border-right: 1px solid v.$color-primary-blue;
}

@mixin show-password {
  margin-right: 2rem;
  position: relative;

  .__input {
    width: 100%;
    height: 2.5rem;
    margin-bottom: 10px;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 10px;
    padding-right: 2.1rem;
    border: 1px solid #ccc;
    border-radius: 0.8rem;
    box-shadow: none;

    &:focus {
      outline: none;
      border-top: 1px solid v.$color-primary-blue;
      border-bottom: 1px solid v.$color-primary-orange;
      border-left: 1px solid v.$color-primary-orange;
      border-right: 1px solid v.$color-primary-blue;
    }
  }

  .toggle-password-icon {
    font-size: 1.5rem;
    position: absolute;
    right: -0.5rem;
    top: 50%;
    transform: translateY(-50%);
    color: #979797;
    z-index: 2;

    /* For mouse */
    @media (hover: hover) and (pointer: fine) {
      cursor: pointer;
    }

    /* For touch */
    @media (hover: none) and (pointer: coarse) {
      cursor: default;
    }
  }

}