$color: #666;
$backgroud-color-blue: #3da3ec50;
$backgroud-color-orange: #ffb1635d;
/* $backgroud-color-blue: #3da3ec36;
$backgroud-color-orange: #ffb16344; */
$disabled-color: #8b8b8b;
$color-primary-blue:  #028eef;
$color-secondary-blue: #3da3ec60;
$color-chat-blue: #7bbbe9;
$color-chat-orange: #f5bd86;
$color-primary-orange: #f37c04;
$color-secondary-orange: #ffb16360;
$color-light-blue: #3da3ec2a;
$color-darkest: #101010;
$color-lightest: #fff;
$color-validation: green;
$color-error: red;
$color-pdf: #da0a0a65;
$color-deleted-grey: rgba(128, 128, 128, 0.267);

$font: 'fredoka', sans-serif;
$font-weight: 300;

$font-title-weight: 500;

$gutter: 1.5rem;
