$color: #666;
$color-primary-blue: #028eef;
$color-secondary-blue: #3da4ec;
$color-primary-orange: #f37c04;
$color-secondary-orange: #ffb263;
$color-darkest: #101010;
$color-lightest: #fff;

$font: 'fredoka', sans-serif;
$font-weight: 300;

$font-title-weight: 500;

$gutter: 1.5rem;
