$color: #666;
$color-primary-blue: #028eef;
$color-secondary-blue: #3da4ec;
$color-primary-orange: #f37c04;
$color-secondary-orange: #ffb263;
$color-darkest: #101010;
$color-lightest: #fff;
$color-validation: green;
$color-error: red;

$font: 'fredoka', sans-serif;
$font-weight: 300;

$font-title-weight: 500;

$gutter: 1.5rem;

@mixin blue-button {
    margin: auto;
    max-width: 50%;
    margin-top: 1rem;
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
    border: none;
    background-color: $color-primary-blue;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    
    &:hover {
        background: $color-primary-orange;
    }
}
