@use './variables' as v;

.notification-badge {
  //color: rgb(24, 161, 6);
  color: red;
  //margin: 0.5rem 0 0 0;
  font-family: v.$font;
  font-size: 0.8rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  //z-index: 0;
  //padding: 0.3rem;
  //border: 2px solid rgb(240, 119, 7);
  border-radius: 50%;
  //background-color: rgb(255, 0, 0);
  //box-shadow: 0 0 0px 0px rgb(44, 161, 8), 0 0 1px 1px rgba(61, 223, 69, 0.8), 0 0 10px 5px rgba(180, 250, 158, 0.5);
  background: #ffffffad;
  /* background: linear-gradient(315deg, #ffffff, #ffffff);
box-shadow:  -1px -1px 3px #b6b6b6,
             1px 1px 3px #ffffff; */
  /* background: linear-gradient(315deg, #ffffff, #f3bcbc);
box-shadow:  -1px -1px 3px #e76060,
             1px 1px 3px #ffffff; */
  /* box-shadow:  -1px -1px 3px #a1a1a1,
             1px 1px 3px #ffffff; */
  box-shadow: -1px -1px 3px #a1a1a1,
    5px 1px 3px #ffffff00;
}