@use './variables' as v;

.notification-badge {
    background-color: rgb(28, 199, 28);
    color: rgb(0, 0, 0);
   // padding: 5px 10px;
    border-radius: 50%;
  //  position: fixed;
   // top: 10px;
   // right: 10px;
   margin: 0.5rem 0 0 0;
   font-family: v.$font;
   border-radius: 50px;
   background: linear-gradient(45deg, #39f832, #f9fcf8);

    font-size: 13px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
  }
  