@use './variables' as v;
@use './mixins' as m;

.contact-modal {
    font-family: v.$font;

    .contact-modal__container {
        @include m.modal-container;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding-bottom: 1rem;

        .contact-modal__container__content {
            overflow: auto;
            scrollbar-width: none;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            max-width: 100%;
            z-index: 1;

            .contact-modal__container__content__title {
                color: v.$color-primary-orange;
                font-weight: 500;
                font-size: 2rem;
            }

            .contact-modal__container__content__subtitle {
                color: v.$color-primary-blue;
                font-weight: 400;
                font-size: 1.2rem;
                margin-bottom: 0.5rem;
                margin-top: 0.5rem;
                text-align: center;
            }

            .contact-modal__container__content__label {
                height: 20%;
                width: 350px;
                padding: 0.3rem;
                margin: 0.1rem 0.5rem;
                display: flex;
                flex-direction: column;
                background: white;
                box-shadow: -5px 0 10px #66666610,
                    -5px 0 10px #ffffff05,
                    5px 0 10px #6666660e;
                border-radius: 0.5rem;
                font-size: 0.9rem;
                font-weight: 500;
                color: v.$color-primary-orange;

                &.email {
                    margin-top: 2rem;
                }

                &.textarea {
                    height: 100%;
                    margin-top: 1rem;
                    width: 70%;
                    max-width: 70%;
                    margin-bottom: 2rem;
                }

                .contact-modal__container__content__label__input {
                    height: 90%;
                    max-width: 95%;
                    box-shadow: none;
                    color: rgb(0, 0, 0);
                    font-weight: 400;
                    font-size: 1rem;
                    padding: 0;
                    border: none;
                   // background-color: transparent;

                    &:focus {
                        outline: none;
                        border-radius: 0.2rem;
                        box-shadow: 0 0 0 1px v.$color-primary-blue;
                    }

                    &.textarea {
                        width: 100%;
                        max-width: 100%;


                    }

                }

            }
 
        }

        .contact-modal__container__error {}

        .contact-modal__container__confirmation {}


        .contact-modal__container__button {
            position: relative;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin: auto;
            max-width: 100%;
            width: 100%;
            padding-top: 1rem;
            margin-bottom: 1rem;
            //margin-top: 1rem;

            .contact-modal__close,
            .contact-modal__accept {
                @include m.blue-button;
                width: initial;
                font-size: 1rem;
            }
        }

        .contact-modal__container__button::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 2px;
            background: linear-gradient(to right, transparent 0%, v.$color-primary-blue, v.$color-primary-orange, transparent 100%);
        }
    }
}

@media (max-width: 800px) {
    .contact-modal {
        .contact-modal__container {
            padding: 1rem 1rem 0 1rem;

            .contact-modal__container__content {
                .contact-modal__container__content__label {
                    width: 90%;
                    max-width: 90%;

                    &.textarea {
                        width: 90%;
                        max-width: 90%;
                    }
                }
            }
        }
    }
}

@media (max-width: 480px) {
    .contact-modal {
    
        .contact-modal__container {
            width: 100%;
            height: 100%;
            border-radius: 0;
            padding: 1rem 1rem 0 1rem;

            .contact-modal__container__button {
                margin:auto;

            }

        }
    }
}