@use './variables' as v;
@use './mixins' as m;

.header-message__user {

    .header-message__user__header {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        box-shadow: 0 1px 6px -2px rgba(0, 0, 0, 0.2);
        position: relative;
        background-color: white;
        border-radius: 0.3rem 0.3rem 0 0;

        /* For mouse */
        @media (hover: hover) and (pointer: fine) {
            cursor: pointer;
        }

        /* For touch */
        @media (hover: none) and (pointer: coarse) {
            cursor: default;
        }



        .header-message__user__header__detail {
            display: flex;
            align-items: center;
            background-color: white;
            border-radius: 8px 8px 0 0;

            &.return {
                display: none;
            }

            &.img {
                @include m.border;
                margin: 0.5rem 1rem;
                border-radius: 0.5rem;
                width: 50px;
                height: 50px;
                box-shadow: 2px 2px 9px #c9c9c9,
                    -5px -5px 10px #ffffff;
                object-fit: cover;
            }

            &.name {
                box-shadow: none;
                margin: 0 0.3rem;
                font-size: 1rem;
                font-weight: 500;
            }

            &.denomination {
                display: block;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                width: inherit;
                box-shadow: none;
                margin: auto 0.3rem auto 0.3rem;
                background-color: transparent;
                font-size: 1rem;
                font-weight: 500;


            }


            &.deploy-arrow {
                color: v.$color-primary-blue;
                font-size: 2.5rem;
                font-weight: 600;
                margin-left: 0.5rem;
                margin-right: 0.5rem;

            }

            &.deleted {
                color: v.$color-error;
                margin: auto 0.3rem auto 0;
                font-size: 1rem;
                font-weight: 500;
            }

        }

        .header-message__user__header__info {
            position: absolute;
            bottom: 0rem;
            width: 100%;
            background-color: white;
            transform: translateY(100%);
            z-index: 10;
            box-shadow: 0px -10px 2px -5px rgb(255, 255, 255);

            .header-message__user__header__info__identity {
                &.denomination {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    width: inherit;
                    box-shadow: none;
                    margin: 0.3rem 0.5rem auto 0.8rem;
                    background-color: transparent;
                    font-size: 0.8rem;
                    font-weight: 500;

                }

                &.siret {
                    color: v.$color-primary-orange;
                    font-size: 0.7rem;
                    margin: auto 0.5rem auto 0.8rem;
                }

                &.description {
                    width: 100%;
                    padding: 0.5rem;
                    box-shadow: none;
                    background-color: white;
                    color: v.$color-primary-blue;
                    font-size: 0.8rem;
                    font-weight: 500;
                }
            }
        }

        .header-message__user__header__info::after {
            content: "";
            position: absolute;
            left: 0;
            width: 100%;
            height: 1px;
            background: linear-gradient(to right, transparent 0%, v.$color-primary-blue, v.$color-primary-orange, transparent 100%);
        }

        .header-message__user__header__info::after {
            bottom: 0;
            z-index: 2;
        }



    }

}

@media (max-width: 1000px) {
    .header-message__user {

        .header-message__user__header {

            &.description {
                margin-top: 0;

            }

            .header-message__user__header__detail {

                &.return {
                    display: block;
                    font-size: 4rem;
                    color: v.$color-primary-orange;


                    @media (hover: hover) and (pointer: fine) {
                        cursor: pointer;
                    }


                    @media (hover: none) and (pointer: coarse) {
                        cursor: default;
                    }
                }
            }
        }
    }
}

@media (max-width: 480px) {
    .header-message__user {
        .header-message__user__header {


            .header-message__user__header__detail {
                border-radius: 0;

                &.description {
                    padding: 0 0.5rem;
                    display: b lock;
                    overflow: hidden;
                    text-overflow: none;
                    white-space: normal;
                }

                &.return {
                    font-size: 4rem;
                    width: 15%;
                }

                &.img {
                    margin: 0.5rem 0.5rem 0.5rem 0.2rem;
                    border-radius: 0.5rem;
                }

                &.denomination {
                    width: 40%;

                    &.deployed {
                        width: 100%;
                    }
                }
            }
        }
    }
}