@use 'reset';
@use 'fonts';
@use 'variables' as v;



body {
	position: relative;
	box-sizing: border-box;
	height: 100vh;
	height: 100dvh;
	/* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
	'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
	sans-serif; */
	font-family: v.$font;
	-webkit-font-smoothing: antialiased;
	background: linear-gradient(to right, v.$backgroud-color-orange, v.$backgroud-color-blue);

}

body.menu-open {
	pointer-events: none; /* Désactive tous les clics */
}

body.menu-open .dashboard__nav__menu,
body.menu-open .contact-modal__container,
body.menu-open .rules-modal__container {
  pointer-events: auto; /* Autorise les clics sur ces éléments */
}

#root {
	height: 100vh;
    height: 100dvh;
}

html {
	height: 100vh;
	height: 100dvh;

}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}