@use './variables' as v;
@use './mixins' as m;

.message-form {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    bottom: 0;
    width: 100%;
    z-index: 8;

    .message-form__preview {
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background-color: transparent;
        margin: 0;
        padding: 0.5rem;
        gap: 1rem;
        background-color: transparent;
        box-shadow: 4px 0 6px -4px rgba(0, 0, 0, 0.1), -4px 0 6px -4px rgba(0, 0, 0, 0.1);
        
        .message-form__preview__container {
            display: flex;
            flex-wrap: wrap;


            .message-form__preview__container__image {
                box-shadow: -5px 0 10px #6666661e,
                    -5px 0 10px #ffffff62,
                    5px 0 10px #66666680;
                border-radius: 0.5rem;
                width: 100px;
                height: 100px;
                object-fit: cover;

            }

            .message-form__preview__container__remove {
                margin: 0 0.3rem;
                width: 0.8rem;
                height: 1.5rem;
                border: none;
                background-color: transparent;
                color: red;
                font-size: 1rem;
                font-weight: 600;
                transition: transform 0.1s ease;

                /* For mouse */
                @media (hover: hover) and (pointer: fine) {
                    cursor: pointer;
                }

                /* For touch */
                @media (hover: none) and (pointer: coarse) {
                    cursor: default;
                }


                &:hover {
                    transform: scale(1.5);
                }
            }


        }
    }



    .message-form__label {
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0.5rem;
        background: white;
        box-shadow: 0 -1px 6px 1px rgba(0, 0, 0, 0.2);
        font-size: 1rem;
        font-weight: 500;
        color: v.$color-primary-orange;
        border-radius: 0 0 0.3rem 0.3rem;
        z-index: 8;

        .message-form__label__attach {
            font-size: 2rem;
            margin: 0.2rem 0.3rem;
            z-index: 10;

            /* For mouse */
            @media (hover: hover) and (pointer: fine) {
                cursor: pointer;
            }

            /* For touch */
            @media (hover: none) and (pointer: coarse) {
                cursor: default;
            }
        }

        .message-form__label__camera {
            font-size: 2rem;
            margin: 0.2rem 0.3rem;
            z-index: 10;

            /* For mouse */
            @media (hover: hover) and (pointer: fine) {
                cursor: pointer;
            }

            /* For touch */
            @media (hover: none) and (pointer: coarse) {
                cursor: default;
            }
        }

        .message-form__label__input {
            overflow: hidden;
            scrollbar-width: none;
            border-radius: 0.5rem;
            width: 100%;
            margin: 0 0.3rem;
            color: black;
            font-weight: 400;
            border: none;
            background-color: transparent;
            resize: none;
            z-index: 10;

            &::-webkit-scrollbar {
                display: none;
                /* For Chrome, Safari and Opera */
            }

            &:focus {
                outline: none;
            }
        }

        .message-form__label__send {
            margin: auto;
            font-size: 2.5rem;
            margin-right: 0.5rem;
            z-index: 10;

            /* For mouse */
            @media (hover: hover) and (pointer: fine) {
                cursor: pointer;
            }

            /* For touch */
            @media (hover: none) and (pointer: coarse) {
                cursor: default;
            }


        }
    }
}

.message-form__input {

    display: none;

}

.message-form__button {
    display: none;
}

@media (max-width: 1000px) {
    .header-message__user {
        .header-message__user__header {
            .header-message__user__header__detail.img {
                margin: 0.5rem 0;
            }
        }
    }
}

@media (max-width: 480px) {
    .message-form__label {
        border-radius: 0;
    }
}