@use './variables' as v;
@use './mixins' as m;

.rules-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: v.$font;
    font-weight: 500;
    height: 100vh;
    height: 100dvh;

    .rules-modal__container {
        @include m.modal-container;

        & {
            width: 60vw;
            height: 70vh;
        }

        .rules-modal__container__content {
            overflow: auto;
            overflow-x: hidden;
            height: 100%;

            .rules-modal__container__content__description {
                padding-bottom: 1rem;
                text-align: left;

                .rules-title {
                    color: v.$color-primary-orange;
                    font-weight: 500;
                    font-size: 2rem;
                    text-align: left;
                }

                .rules-list {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    max-width: 100%;
                    background: white;
                    border-radius: 0.5rem;
                    font-size: 0.9rem;
                    font-weight: 500;
                    text-align: left;

                    .rules-list__tag {

                        font-weight: 350;
                        font-size: 1.2rem;
                        // margin-bottom: 0.5rem;
                        // margin-top: 0.5rem;
                        text-align: left;
                    }
                }

                .rules-subtitle {
                    color: v.$color-primary-blue;
                    font-weight: 400;
                    font-size: 1.2rem;
                    margin-bottom: 0.5rem;
                    margin-top: 0.5rem;
                    text-align: left;
                }

                .rules-description {
                    color: black;
                    font-weight: 400;
                    font-size: 1rem;
                    margin-bottom: 0.5rem;
                    margin-top: 0.5rem;
                    text-align: left;
                }

            }
        }

        .rules-modal__container__button {
            position: relative;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin: auto;
            max-width: 100%;
            width: 100%;
            padding-top: 1rem;

            .rules-modal__cancel,
            .rules-modal__close,
            .rules-modal__accept {
                @include m.blue-button;

                & {
                    width: initial;
                    font-size: 1rem;
                    font-weight: 500;
                }
            }
        }

        .rules-modal__container__button::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 2px;
            background: linear-gradient(to right, transparent 0%, v.$color-primary-blue, v.$color-primary-orange, transparent 100%);
        }
    }
}

.rules-modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.2);
    z-index: 999;
    backdrop-filter: blur(5px);
    
}

@media (max-width: 700px) {
    .rules-modal {
        .rules-modal__container {
            width: 80vw;
            height: 80vh;

            .rules-modal__container__button {

                .rules-modal__cancel,
                .rules-modal__close,
                .rules-modal__accept {
                    font-size: 0.8rem;

                }
            }
        }
    }
}

@media (max-width: 480px) {
    .rules-modal {
        .rules-modal__container {
            width: 100%;
            height: 100%;
            border-radius: 0;
            padding: 1rem 1rem 0 1rem;

            .rules-modal__container__button {
                display: flex;
                flex-direction: column;
                width: 100%;
                max-width: 100%;

                .rules-modal__cancel,
                .rules-modal__close,
                .rules-modal__accept {
                    width: initial;
                    max-width: initial;
                    margin: 0.5rem auto; // Optional: Add some margin between buttons for better spacing
                }
            }
        }
    }
}