@use '../../../styles/variables' as v;
@use '../../../styles/mixins' as m;

.request {
  & {
    position: relative;
    font-family: v.$font;
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch; // for iOS momentum scrolling
    touch-action: pan-y;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
      /* For Chrome, Safari and Opera */
    }
  }

  .custom-label {
    color: v.$color-primary-blue;
    font-family: v.$font;
    font-size: 1rem;
    font-weight: 500;
  }

  &.no-req {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0.8rem auto;
    border-radius: 0.5rem;
    box-shadow: none;
    max-width: 90%;
    color: v.$color-primary-orange;
    text-align: center;
    height: fit-content;
  }

  .request__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    @include m.select;

    & {
      width: 80%;
      margin: auto;
      margin-top: 0rem;
      border-radius: 0.5rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .request__slider-container {
      margin: auto;
    }

    .upload-message {
      position: relative;
      margin: auto;
      margin-top: 0.2rem;
      margin-bottom: 0.2rem;
      font-size: 0.8rem;
    }

    .urgent-switch {
      font-family: v.$font;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 1.1rem;
      color: red;
      font-weight: 500;
      border: none;
      background-color: transparent;
      margin: 0 auto;

      /* For mouse */
      @media (hover: hover) and (pointer: fine) {
        cursor: pointer;
      }

      /* For touch */
      @media (hover: none) and (pointer: coarse) {
        cursor: default;
      }
    }

    .request__form__or {
      text-align: center;
      margin: auto;
      font-size: 1rem;
      font-weight: 500;
      color: v.$color-primary-blue;
    }
    .request__form__other-address {
      box-shadow:
        4px 0 8px -2px rgba(0, 0, 0, 0.1),
        -4px 0 8px -2px rgba(0, 0, 0, 0.1);
      border-radius: 0.5rem;
      width: 100%;
      max-width: fit-content;
      .request__form__other-address__form {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: transparent;
        padding: 1rem;
        border-radius: 0.5rem;
        width: 100%;

        .message {
          width: fit-content;
          max-width: 400px;
          margin: 0.5rem auto 0 auto;
    
          .alert-errorLocation {
            /* For mouse */
            @media (hover: hover) and (pointer: fine) {
              cursor: pointer;
            }
    
            /* For touch */
            @media (hover: none) and (pointer: coarse) {
              cursor: default;
            }
          }
        }

        .request__form__other-address__button {
          @include m.blue-button;

          & {
            margin: 1rem auto;
            position: relative;
          }
        }
      }
    }

    .request__form__container {
      display: flex;
      .request__form__container__title {
        text-align: center;
        margin: auto;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
        font-size: 1rem;
        font-weight: 500;
        color: v.$color-primary-orange;

        &.urgent {
          margin-top: 2rem;
        }

        &.radius {
          margin-bottom: 0.5rem;
          margin-top: 1.2rem;
        }

        &.media {
          margin-bottom: 0.5rem;
          margin-top: 0;
        }
      }
    }
    .request__form__title {
      text-align: center;
      margin: auto;
      margin-top: 1rem;
      margin-bottom: 0.5rem;
      font-size: 1rem;
      font-weight: 500;
      color: v.$color-primary-orange;

      &.urgent {
        margin-top: 2rem;
      }

      &.radius {
        margin-bottom: 0.5rem;
        margin-top: 1.2rem;
      }

      &.media {
        margin-bottom: 0.5rem;
        margin-top: 0;
      }
    }
    .request__form__select {
      width: 50%;
      padding: 0.5rem;
      margin: 0.5rem auto;

      background: transparent;
      border: 1px solid black;
      border-radius: 0.5rem;
      font-size: 1rem;
      font-weight: 400;
      color: black;
      padding-right: 1.5rem;
      background-color: white;

      &:hover {
        border: 1px solid black;
        font-weight: 500;
      }
    }

    .request__form__label-radius {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: auto;
    }

    .request__form__input-radius {
      margin: auto;
      margin-top: 0;
    }

    .request__form__map {
      display: flex;
      justify-content: center;
      width: 100%;
      margin: 1rem 0;

      .request__form__map__map {
        position: relative;
        margin: 0 auto;
        width: 600px;
        height: 400px;
        border-radius: 0.5rem;
        overflow: hidden;
        box-shadow:
          -5px 0 10px #6666661c,
          -5px 0 10px #ffffff17,
          5px 0 10px #6666661c;

        .map-marker {
          .map-marker__icon {
            font-size: 2rem;
            color: v.$color-primary-blue;
          }
        }
      }
    }

    .request__form__label {
      width: 600px;
      max-width: 100%;
      margin: 0;
      padding: 0.5rem;
      background: white;
      box-shadow:
        -5px 0 10px #66666610,
        -5px 0 10px #ffffff05,
        5px 0 10px #6666660e;
      border-radius: 0.5rem;
      font-size: 1rem;
      font-weight: 500;
      color: v.$color-primary-orange;

      &.other-address {
        width: 400px;
        margin-top: 1rem;
      }

      .request__form__label__input {
        width: 100%;
        color: black;
        font-weight: 400;
        margin-bottom: 0.5rem;
        border: none;
        background-color: transparent;

        &.title {
          max-width: 100%;
        }

        &.textarea {
          max-width: 100%;
        }

        &.length {
          color: v.$color-primary-orange;
          background-color: transparent;
        }

        &:focus {
          @include m.border;

          & {
            border-radius: 0.4rem;
          }
        }
      }
    }

    .request__form__input-media {
      max-width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 1rem auto 1rem auto;
      gap: 1rem;

      .request__form__input-media__container {
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
        scrollbar-width: none;
        &::-webkit-scrollbar {
          display: none;
          /* For Chrome, Safari and Opera */
        }
        .request__form__input-media-content__container {
          position: relative;
          display: flex;

          overflow: hidden;
          scrollbar-width: none;
          border-radius: 0.5rem;
          &::-webkit-scrollbar {
            display: none;
            /* For Chrome, Safari and Opera */
          }

          &.preview {
            box-shadow:
              -5px 0 10px #6666661e,
              -5px 0 10px #ffffff62,
              5px 0 10px #66666680;

            &.pdf {
              border: 1px solid v.$color-pdf;
            }
          }
          .pdf-name-container {
            position: absolute;
            top: 2.7rem;
            left: 0rem;
            z-index: 10;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            padding: 0.1rem;
            width: 99px;
            height: 59px;
            .pdf-name {
              /*       position: absolute;
              top: 2.9rem;
              left: 0.8rem; */
              font-size: 0.9rem;
              font-weight: 400;
              text-align: center;
              text-overflow: ellipsis;
              overflow: hidden;
              max-width: 4.5rem;
              width: fit-content;
              max-height: 2.5rem;
              color: black;
              display: -webkit-box;
              -webkit-line-clamp: 2;
              line-clamp: 2;
              -webkit-box-orient: vertical;
              white-space: normal;
            }
          }
        }
        &.remove {
          margin: 0 0 0 0.4rem;
          width: 1rem;
          height: 1.3rem;
          line-height: 1rem;
          text-align: center;
          border: none;
          padding: 0;
          background-color: transparent;
          color: red;
          font-size: 1rem;
          font-weight: 600;
          transition: transform 0.1s ease;

          /* For mouse */
          @media (hover: hover) and (pointer: fine) {
            cursor: pointer;
          }

          /* For touch */
          @media (hover: none) and (pointer: coarse) {
            cursor: default;
          }

          &:hover {
            transform: scale(1.5);
          }
        }
      }
      &.file {
        display: none;
      }

      &.camera {
        display: none;
      }

      &.camera-icone {
        margin-bottom: 1rem;
        font-size: 2rem;
        color: v.$color-primary-orange;

        /* For mouse */
        @media (hover: hover) and (pointer: fine) {
          cursor: pointer;
        }

        /* For touch */
        @media (hover: none) and (pointer: coarse) {
          cursor: default;
        }
      }
    }

    .request__form__input title {
      max-width: 190px;
      display: none;
    }

    .request__form__label-file {
      margin: auto;
      margin-bottom: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 250px;
      height: 190px;
      border: 2px dashed #ccc;
      align-items: center;
      text-align: center;
      padding: 5px;
      color: #404040;

      /* For mouse */
      @media (hover: hover) and (pointer: fine) {
        cursor: pointer;
      }

      /* For touch */
      @media (hover: none) and (pointer: coarse) {
        cursor: default;
      }
    }

    .request__form__button {
      @include m.blue-button;

      & {
        margin: 1rem auto 1rem auto;
        position: relative;
      }
    }

    .message {
      position: relative;
      margin: auto;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      font-size: 0.8rem;
      min-height: 50px;
    }
  }
}

@media (max-width: 700px) {
  .request {
    height: 100%;

    .request__form {
      .request__form__select {
        width: 70%;
      }

      .request__form__label {
        margin: 0;
      }

      .request__form__title {
        &.urgent {
          margin-top: 1rem;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .request {
    height: 100%;

    .request__form {
      width: 90%;

      .request__form__select {
        width: 90%;
      }

      /*  .request__form__label {
                margin: 0;
            } */

      .request__form__input-media {
        &.container {
          margin: 0;
        }
      }
    }
  }
}
