@use '../../../styles/variables' as v;

.request-container {

    .request-form {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .error-message {
            color: red;
            font-size: 0.8rem;
        }
        .urgent-button-active {
            background-color: red;
        }

        .input {
            max-width: 190px;
            display: none;
          }
          
          .labelFile {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 250px;
            height: 190px;
            border: 2px dashed #ccc;
            align-items: center;
            text-align: center;
            padding: 5px;
            color: #404040;
            cursor: pointer;
          }
          
    }
}