@use '../../styles/variables' as v;

.home {
    height: auto;
    
}

.create-account {
    font-family: v.$font;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    color: v.$color-primary-orange;
}

.presentation {
    margin-top: 2rem;
    font-family: v.$font;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    color: v.$color-primary-orange;
}