@use '../../styles/variables' as v;

footer {
  display: flex;
  justify-content: space-around;
    background-color: v.$backgroud-color; 
    padding: 10px; 
    text-align: center; 
    font-size: 14px; 
    bottom: 0; 
    width: 100%; 

    .footer-link {
      color: v.$color-secondary-blue; 
      font-size: 1rem;

    }
  }
  
 