@use '../../styles/variables' as v;

.footer {
width: 100%;
//background-color: rgba(224, 132, 11, 0.192);
background-image: linear-gradient(to right, transparent 0%, rgba(224, 132, 11, 0.26) 10%, rgba(224, 132, 11, 0.26) 90%, transparent 100%);

  .footer-container {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    bottom: 0;
    width: 100%;

    .footer-container__link {
      color: v.$color-secondary-blue;
      font-size: 1rem;
      font-weight: 600;

    }
  }
}

@media (max-width: 480px) {
  .footer {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    background-color: white;

  }
}