@use 'sass:color';
@use '../../styles/variables' as v;

.menu {
    // max-width: 100%; //!
    width: 100%;
    display: flex;
    justify-content: space-around;

    //align-items: center;

    .menu__center {
        display: flex;
        justify-content: center;


        .menu__image {
            margin-top: 0.5rem;
            width: 60px;
            height: 60px;
        }

        .menu__title {
            color: v.$color-primary-blue;
            font-family: v.$font;
            font-weight: v.$font-title-weight;
            font-size: 3rem;

        }
    }
}