@use 'sass:color';
@use '../../styles/variables' as v;

.header {
    width: 100%;
    height : 8vh;
    height : 8dvh;
    display: flex;
    justify-content: space-around;
    background-blend-mode: screen;
    &.with-gradient {
        background: linear-gradient(to right, transparent 0%, rgba(255, 255, 255, 0.527) 10%, rgba(255, 255, 255, 0.527) 90%, transparent 100%);
    }

 

    .header__container {
        display: flex;
        justify-content: center;
        align-items: center;
    
        &.image {
        
            width: 40px;
            height: 40px;
            /* For mouse */
                @media (hover: hover) and (pointer: fine) {
                    cursor: pointer; 
                }

                /* For touch */
                @media (hover: none) and (pointer: coarse) {
                    cursor: default; 
                }
        }

        &.title {
            color: v.$color-primary-blue;
            font-family: v.$font;
            font-weight: v.$font-title-weight;
            font-size: 2.3rem;
            margin-left: 0.5rem;
        }
    }
}

@media (max-width: 480px) {
    .header {
        display: none
    }
}

@media (max-height: 630px) {
    .header {
        height: 10vh;
        height: 10dvh;
       
    }
}

@media (max-height: 480px) {
    .header {
        height: 10vh;
        height: 10dvh;
        margin-bottom: 0.5rem;
        
        .header__container {
            &.title {
                font-size: 1.5rem;
            }

            &.image {
                width: 40px;
                height: 40px;
            }
        }
    }
    
}
