@use '../../../../styles/variables' as v;
@use '../../../../styles/mixins' as m;

.intro-container {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 0.5rem;
    font-family: v.$font;

    .intro-title {
        font-size: 2rem;
        font-weight: 500;
        margin-bottom: 1rem;
        color: v.$color-primary-orange;
    }

    .intro-description {
        color: v.$color-primary-blue;
        font-size: 1.2rem;
        font-weight: 400;
        margin-bottom: 1rem;
        text-align: center;
    }

    .intro-list {
        color: v.$color-primary-orange;
        font-size: 1.2rem;
        padding-left: 0;
        font-weight: 400;
        margin-top: 1rem;
        margin-bottom: 1rem;
        text-align: center;

        .intro-list-item {
            color: black;
            font-size: 1rem;
            margin: 0.8rem 0;
            list-style-type: none;

        }
    }
    .intro-list-item__strong {
        color: v.$color-primary-blue;
        font-weight: 500;
    }

    .intro-note {
        color: v.$color-primary-orange;
        font-size: 1.2rem;
        margin-top: 1rem;
        text-align: center;

        .intro-icon {
            margin: 0.5rem auto;
            box-shadow:  3px 2px 5px #cecece,
            -3px -2px 5px #bebebe;
            border-radius: 10%;
        }
    }
}