@use '../../../styles/variables' as v;

.my-request {
    width: 100%;
    display: flex;
    align-items: stretch;
    max-height: 81.31vh;

    .my-request__list {
        overflow-y: auto;
        scrollbar-width: thin;
        width: 100%;
        max-width: 30%;
        margin: 1rem 0.1rem;
        box-shadow: -5px 0 10px #6666661c,
            -5px 0 10px #ffffff17,
            5px 0 10px #6666661c;

        .my-request__list__detail {

            &.loading {

                position: relative;
            }


            .my-request__list__detail__item {
                cursor: pointer;
                display: flex;
                flex-direction: column;
                // border: 1px solid v.$color-secondary-blue;
                margin: 1rem;
                background-color: white;
                border-radius: 0.5rem;
                box-shadow: -5px 0 10px #6666661c,
                    -5px 0 10px #ffffff17,
                    5px 0 10px #6666661c;

                &.true {
                    background-color: rgba(255, 0, 0, 0.068);
                    border: 1px solid red;
                }

                &.urgent {
                    border: none;
                    margin: auto;
                    background-color: transparent;
                    box-shadow: none;
                    color: red;

                }



                .my-request__list__detail__item__header {
                    display: flex;
                    flex-direction: column;
                    align-items: baseline;


                    &.city {
                        display: flex;
                        flex-direction: row;
                        margin-left: 0.3rem;
                        font-size: 1rem;
                        font-weight: 400;
                    }

                    &.city-span {
                        color: v.$color-primary-orange;
                        font-weight: 500;
                    }

                    &.job {
                        display: flex;
                        flex-direction: row;
                        margin-left: 0.3rem;
                        font-size: 1rem;
                        font-weight: 400;
                        color: black
                    }

                    &.job-span {
                        color: v.$color-primary-orange;
                        font-weight: 500;
                    }

                    &.name {
                        display: flex;
                        flex-direction: row;

                        margin: 0 0.3rem 0 0.3rem;
                        font-size: 1rem;
                        font-weight: 400;

                    }

                    &.name-span {
                        color: v.$color-primary-orange;
                        font-weight: 500;
                    }

                    &.date {
                        display: flex;
                        flex-direction: row;
                        margin-top: 0.5rem;
                        margin-left: 0.3rem;
                        font-size: 0.9rem;
                        font-weight: 400;
                    }

                    &.date-span {
                        color: v.$color-primary-orange;
                        font-weight: 500;
                    }
                }

                &.title {
                    border: none;
                    background-color: transparent;
                    box-shadow: none;
                    margin: 0.5rem auto 0.2rem 0.2rem;
                    font-size: 1.2rem;
                    font-weight: 500;
                    color: v.$color-primary-blue;
                }

                &.message {
                    display: block;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    cursor: pointer;
                    width: inherit;
                    border: none;
                    background-color: transparent;
                    box-shadow: none;
                    margin: 0;
                    font-size: 1rem;
                    font-weight: 400;
                    background-color: v.$color-light-blue;
                    border-radius: 0.2rem;
                }

                &.expanded {
                    white-space: normal;
                    max-width: none;
                }

                /* &.false.selected {
                border-radius: 1px solid v.$color-primary-blue;
            } */

                .my-request__list__detail__item__footer {
                    display: flex;
                    flex-direction: column;
                    align-items: baseline;
                    margin-top: 0.5rem;



                }

                .my-request__list__detail__item__picture {
                    display: flex;

                    flex-wrap: wrap;

                    &.img {
                        margin: 1rem 0.5rem 0 0.5rem;
                        border-radius: 0.5rem;
                        width: 70px;
                        height: 70px;
                        cursor: pointer;

                    }
                }

                .my-request__list__detail__item__delete {
                    display: none;

                }

                .my-request__list__detail__item__delete-FaTrashAlt {
                    font-size: 1.5rem;
                    margin: 1rem 1rem 1rem auto;
                    color: v.$color-error;
                    cursor: pointer;
                }
            }
        }

        .my-request__list__detail__item.false.selected {
            background-color: #028cef1f;
            border: 2px solid v.$color-primary-blue;
            border-radius: 0.5rem;
        }

        .my-request__list__detail__item.true.selected {
            background-color: #028cef1f;
            border: 2px solid v.$color-primary-blue;
            border-radius: 0.5rem;
        }

    }

    .my-request__answer-list {
        margin: 1rem 0;
        width: 33%;
        max-width: 33%;
        box-shadow: -5px 0 10px #6666661c,
            -5px 0 10px #ffffff17,
            5px 0 10px #6666661c;

        &.loading {
            position: relative;
        }

        &.no-conv {
            display: flex;
            justify-content: center;
            width: 100%;
            margin: 0.5rem auto;
            border-radius: 0.5rem;
            box-shadow: none;
            max-width: 90%;
            color: v.$color-primary-orange;
            text-align: center;
        }

        &.return {
            display: none;
        }


        .my-request__answer-list__user {
            display: flex;
            flex-direction: column;
            margin: 0.5rem;
            border-radius: 0.5rem;
            box-shadow: -5px 0 10px #6666661c,
                -5px 0 10px #ffffff17,
                5px 0 10px #6666661c;

            &.selected-user {
                border: 1px solid v.$color-primary-orange;
                background-color: #f37b041a;
                ;
            }


            .my-request__answer-list__user__header {
                display: flex;
                //flex-direction: wrap;


                &.img {
                    margin: 0.5rem;
                    border-radius: 0.5rem;
                    width: 50px;
                    height: 50px;
                    /* box-shadow: -5px 0 10px #66666642,
                        -5px 0 10px #ffffff23,
                        5px 0 10px #66666657; */
                }

                &.name {
                    margin: auto 0.3rem auto 0;
                    font-size: 0.8rem;
                    font-weight: 500;
                    word-break: break-all;
                }

                &.denomination {
                    word-break: break-all;
                    // overflow-wrap: break-word;
                    //word-wrap: break-word;
                    margin: auto 0.3rem auto 0;
                    background-color: transparent;
                    font-size: 0.8rem;
                    font-weight: 500;
                }


            }

        }
    }



    .my-request__message-list {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 1rem 0.1rem;
        box-shadow: -5px 0 10px #6666661c,
            -5px 0 10px #ffffff17,
            5px 0 10px #6666661c;
        max-width: 45%;

        &.loading {
            position: relative;
            
          
        }

        .my-request__message-list__user {

            .my-request__message-list__user__header {
                width: 100%;
                display: flex;
                flex-direction: column;
                box-shadow: 0 1px 6px -2px rgba(0, 0, 0, 0.2);
                cursor: pointer;

                .my-request__message-list__user__header__detail {
                    display: flex;
                    align-items: center;

                    &.return {
                        display: none;
                    }

                    &.img {
                        margin: 0.5rem 1rem;
                        border-radius: 0.5rem;
                        width: 50px;
                        height: 50px;
                        box-shadow: -5px 0 10px #66666642,
                            -5px 0 10px #ffffff23,
                            5px 0 10px #66666657;
                    }

                    &.name {
                        box-shadow: none;
                        margin: auto 0.3rem auto 0;
                        font-size: 1rem;
                        font-weight: 500;
                    }

                    &.denomination {
                        box-shadow: none;
                        margin: auto 0.3rem auto 0;
                        background-color: transparent;
                        font-size: 1rem;
                        font-weight: 500;

                    }
                }

                &.description {
                    width: 98%;
                    padding: 0.5rem;
                    box-shadow: none;
                    margin: 0.5rem;
                    background-color: transparent;
                    color: v.$color-primary-blue;
                    font-size: 1rem;
                    font-weight: 500;


                }
            }

        }

        .my-request__message-list__message {
            display: flex;
            flex-direction: column;
            margin: 0rem 1rem;
            overflow-y: auto;
            scrollbar-width: none;
            flex-grow: 1;

            .my-request__message-list__message::-webkit-scrollbar {
                display: none;
                /* For Chrome, Safari and Opera */
            }

            .my-request__message-list__message__detail {
                display: flex;
                flex-direction: column;
                margin: 0.5rem 0;

                &.me {
                    justify-content: flex-end;

                    .my-request__message-list__message__detail__date {
                        display: flex;
                        justify-content: flex-end;
                        margin-right: 0.5rem;
                        font-size: 0.8rem;
                        font-weight: 500;
                        color: v.$color-primary-orange;
                    }
                }



                .my-request__message-list__message__detail__date {
                    display: flex;
                    justify-content: flex-start;
                    margin-left: 0.5rem;
                    font-size: 0.8rem;
                    font-weight: 500;
                    color: v.$color-primary-blue;
                }

                .content {
                    display: flex;
                    align-self: flex-start;
                    flex-direction: column;
                    background-color: v.$color-chat-blue;
                    border-radius: 0 1rem 1rem 1rem;
                    margin-top: 1rem;
                    max-width: 70%;

                    &.me {
                        border-radius: 1rem 0 1rem 1rem;
                        align-self: flex-end;
                        background-color: v.$color-chat-orange;
                        margin-top: 1rem;

                        .my-request__message-list__message__detail__image-container {

                            .map {
                                display: flex;
                                flex-wrap: wrap;
                                justify-content: flex-end;

                            }
                        }

                        .my-request__message-list__message__detail__texte {
                            word-wrap: break-word;
                            overflow-wrap: break-word;

                        }
                    }

                    .my-request__message-list__message__detail__image-container {

                        .map {
                            display: flex;
                            flex-wrap: wrap;
                            background-color: transparent;
                            gap: 0.3rem;
                            margin: 0.5rem 0.5rem;
                            justify-content: flex-start;

                            .a-pdf {
                                display: flex;
                                justify-content: end;
                                width: auto;

                                .my-request__message-list__message__detail__image-pdf {
                                    width: 5rem;
                                }
                            }

                            .my-request__message-list__message__detail__image {
                                border-radius: 0.5rem;
                                cursor: pointer;

                                &.single {
                                    width: auto;

                                }

                                &.multiple {
                                    width: 6rem;
                                }
                            }

                            &.message {
                                margin-bottom: 0;
                            }

                        }

                    }

                    .my-request__message-list__message__detail__texte {
                        padding: 0.2rem 0.5rem;
                        word-wrap: break-word;
                        overflow-wrap: break-word;

                    }
                }
            }
        }

        .my-request__message-list__form {
            display: flex;
            flex-direction: column;
            box-sizing: border-box;
            bottom: 0;
            width: 100%;

            .my-request__message-list__form__preview {
                max-width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                background-color: transparent;
                margin: 0;
                padding: 0.5rem;
                gap: 1rem;
                box-shadow: 0 -1px 6px 5px rgba(255, 255, 255, 0.637);


                .my-request__message-list__form__preview__container {
                    display: flex;
                    flex-wrap: wrap;


                    .my-request__message-list__form__preview__container__image {
                        box-shadow: -5px 0 10px #6666661e,
                            -5px 0 10px #ffffff62,
                            5px 0 10px #66666680;
                        border-radius: 0.5rem;
                        width: 100px;
                        height: 100px;
                        // object-fit: cover;

                    }

                    .my-request__message-list__form__preview__container__remove {
                        margin: 0 0.3rem;
                        width: 0.8rem;
                        height: 1.5rem;
                        border: none;
                        background-color: transparent;
                        color: red;
                        font-size: 1rem;
                        font-weight: 600;
                        cursor: pointer;
                        transition: transform 0.1s ease;

                        &:hover {
                            transform: scale(1.5);
                        }
                    }


                }
            }

        }

        .my-request__message-list__form__label {
            display: flex;
            align-items: center;
            margin: 0;
            padding: 0.5rem;
            background: white;
            box-shadow: 0 -1px 6px 1px rgba(0, 0, 0, 0.2);
            font-size: 1rem;
            font-weight: 500;
            color: v.$color-primary-orange;

            .my-request__message-list__form__label__attach {
                font-size: 2rem;
                margin: 0.2rem 0.3rem;
                cursor: pointer;
            }

            .my-request__message-list__form__label__camera {
                font-size: 2rem;
                margin: 0.2rem 0.3rem;
                cursor: pointer;
            }

            .my-request__message-list__form__label__input {
                border-radius: 0.5rem;
                width: 100%;
                margin: 0 0.3rem;
                color: black;
                font-weight: 400;
                border: none;
                background-color: transparent;
                resize: none;


                &:focus {

                    outline: none;
                    border-radius: 0.2rem;
                    box-shadow: 0 0 0 1px v.$color-primary-blue;
                }
            }

            .my-request__message-list__form__label__send {
                margin: auto;
                font-size: 2rem;
                cursor: pointer;
            }
        }

        .my-request__message-list__form__input {

            display: none;

        }

        .my-request__message-list__form__button {
            display: none;
        }


    }
}

@media (max-width: 1200px) {
    .my-request {
        width: 100%;
        max-height: 100%;

        .my-request__list {
            display: none;

            &.open {
                display: block;
                margin: auto;
                max-width: 80%;
            }

        }

        .my-request__answer-list {
            display: none;

            &.open {
                display: block;
                margin: auto;
                width: 100%;

                &.my-request__answer-list .return {
                    display: block;
                    box-shadow: none;
                    width: auto;
                    font-size: 3rem;
                    margin: 0 auto 0 0.1rem;
                    color: v.$color-primary-orange;
                    cursor: pointer;

                }

            }
        }

        .my-request__message-list {
            display: none;

            &.open {
                display: block;
                margin: auto;
                max-width: 80%;
                max-height: 100vh;

                .my-request__message-list__user {

                    .my-request__message-list__user__header {

                        .my-request__message-list__user__header__detail {

                            &.return {
                                display: block;
                                font-size: 3rem;
                                color: v.$color-primary-orange;
                                cursor: pointer;
                            }
                        }
                    }
                }

                .my-request__message-list__message {
                    overflow-y: auto;
                    max-height: 100vh;
                }
            }

        }
    }
}

@media (max-width: 480px) {
    .my-request {

        .my-request__answer-list.open,
        .my-request__message-list.open,
        .my-request__list.open {
            max-width: 100%;
        }
    }
}

@include v.picture-modal;

@media (max-width: 1200px) {
    @include v.picture-modal-querie;
}

/* .react-modal {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0;

    .react-modal__button {
        display: none;
    }

    .react-modal__button-close {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        margin: 1rem 5rem 0.5rem auto;
        font-size: 4rem;
        color: v.$color-primary-orange;
        cursor: pointer;
    }

    .react-modal__picture {
        display: flex;
        justify-content: center;
        object-fit: contain;
        margin: auto;
        border-radius: 0.5rem;
        max-width: 100%;
        max-height: 100%;


        &.button {
            display: none;
        }

        &.back {
            color: v.$color-primary-orange;
        }

        &.forward {
            color: v.$color-primary-blue;
        }

        &.back,
        &.forward {
            font-size: 7rem;
            cursor: pointer;
        }

        &.img {
            margin: 1rem 0;
            width: 100%;
        }


    }



}

@media (max-width: 1200px) {
    .react-modal {

        .react-modal__button-close {
            margin: 0;
            position: absolute;
            top: 10px;
            right: 0px;
        }

        .react-modal__picture {
            position: relative;
            display: inline-block;

            &.back {
                left: 0px;
            }

            &.forward {
                right: 0px;
            }

            &.back,
            &.forward {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                cursor: pointer;
                z-index: 10;
                font-size: 5rem;
            }

            &.img {
                display: block;
            }

        }
    }
} */