@use '../../../styles/variables' as v;
@use '../../../styles/mixins' as m;

.my-request {
    width: 100%;
    display: flex;
    height: 100%;
    scrollbar-width: none;
    padding-top: 0.5rem;

    &::-webkit-scrollbar {
        display: none;
        /* For Chrome, Safari and Opera */
    }

    .my-request__list {
        overflow-y: auto;
        scrollbar-width: none;
        width: 100%;
        max-width: 30%;
        height: 100%;
        margin: 0 0.1rem;
        -webkit-overflow-scrolling: touch; // for iOS momentum scrolling
        touch-action: pan-y;

        &::-webkit-scrollbar {
            display: none;
            /* For Chrome, Safari and Opera */
        }

        &.no-req {
            display: flex;
            justify-content: center;
            width: 100%;
            margin: 0.5rem auto;
            border-radius: 0.5rem;
            box-shadow: none;
            max-width: 90%;
            color: v.$color-primary-orange;
            text-align: center;

        }

        &.loading {

            position: relative;
        }

        .my-request__list__fetch-button {
            @include m.fetch-button;

            & {
                display: flex;
                justify-content: center;
            }
        }


        .my-request__list__detail {
            position: relative;
            overflow: hidden;
            scrollbar-width: none;
            padding-left: 0;
            &::-webkit-scrollbar {
                display: none;
             
            }

            .notification-badge {
                position:absolute;
                top: 1.2rem;
                right: 1.2rem;
               /*  font-family: v.$font;
                color: v.$color-validation; */
            }

           
        }

    }

    .my-request__answer-list {
        margin: 0;
        width: 30%;
        height: 100%;
        max-width: 30%;

        .my-request__answer-list__header {

            &.title {
                position: relative;
                margin: 0.5rem 0 0.5rem 0;
                width: 100%;
                box-shadow: none;
                padding: 0 0.8rem 0.8rem 0.8rem;
                color: v.$color-primary-blue;
                font-size: 1.2rem;
                font-weight: 500;


            }

            &.title::before {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 1px;
                background: linear-gradient(to right, transparent 0%, v.$color-primary-blue, v.$color-primary-orange, transparent 100%);
            }

            &.return {
                display: none;
            }
        }

        &.loading {
            position: relative;
        }

        &.no-conv {
            display: flex;
            justify-content: center;
            width: 100%;
            margin: auto;
            border-radius: 0.5rem;
            box-shadow: none;
            max-width: 90%;
            color: v.$color-primary-orange;
            text-align: center;
        }


        .my-request__answer-list__container {
            overflow-y: auto;
            -webkit-overflow-scrolling: touch; // for iOS momentum scrolling
            touch-action: pan-y;
            scrollbar-width: none;
            height: auto;

            &::-webkit-scrollbar {
                display: none;
                /* For Chrome, Safari and Opera */
            }

            .my-request__answer-list__user {
                overflow: hidden;
                scrollbar-width: none;
                display: flex;
                flex-direction: column;
                margin: 0.5rem;
                border-radius: 0.5rem;
                background-color: white;
                box-shadow: -5px 0 10px #6666661c,
                    -5px 0 10px #ffffff17,
                    5px 0 10px #6666661c;
                height: 4rem;

                /* For mouse */
                @media (hover: hover) and (pointer: fine) {
                    cursor: pointer;
                }

                /* For touch */
                @media (hover: none) and (pointer: coarse) {
                    cursor: default;
                }

                &::-webkit-scrollbar {
                    display: none;
                    /* For Chrome, Safari and Opera */
                }

                &.deleted {
                    @include m.deleted;

                }


                &.selected-user {
                    @include m.selected-user;

                }

                &.not-viewed {
                    @include m.not-viewed
                }


                .my-request__answer-list__user__header {
                    display: flex;
                    overflow: hidden;

                    &.img {
                        margin: 0.4rem;
                        border-radius: 0.5rem;
                        width: 50px;
                        min-width: 50px;
                        height: 50px;
                        z-index: 2;
                        object-fit: cover;

                    }

                    &.name {
                        word-break: break-all;
                        margin: auto 0.3rem auto 0;
                        background-color: transparent;
                        font-size: 0.8rem;
                        font-weight: 500;
                        width: 100%;
                        max-width: 75%;


                    }

                    &.denomination {
                        word-break: break-all;
                        margin: auto 0.3rem auto 0;
                        background-color: transparent;
                        font-size: 0.8rem;
                        font-weight: 500;
                        width: 100%;
                        max-width: 75%;
                    }

                    &.deleted {
                        color: v.$color-error;
                        margin: auto 0.3rem auto 0;
                        font-size: 1rem;
                        font-weight: 500;
                        word-break: break-all;
                    }


                }

            }
        }
    }



    .my-request__message-list {
        display: flex;
        flex-direction: column;
        margin: 0 1rem;
        width: 40%;
        height: 100%;
        min-width: 40%;
        max-width: 40%;
        height: 100%;

        &.loading {
            position: relative;
        }

        .my-request__message-list__user {

            .my-request__message-list__user__header {
                width: 100%;
                display: flex;
                flex-direction: column;
                box-shadow: 0 1px 6px -2px rgba(0, 0, 0, 0.2);
                position: relative;
                background-color: white;
                border-radius: 0.3rem 0.3rem 0 0;

                /* For mouse */
                @media (hover: hover) and (pointer: fine) {
                    cursor: pointer;
                }

                /* For touch */
                @media (hover: none) and (pointer: coarse) {
                    cursor: default;
                }



                .my-request__message-list__user__header__detail {
                    display: flex;
                    align-items: center;
                    background-color: white;
                    border-radius: 8px 8px 0 0;

                    &.return {
                        display: none;
                    }

                    &.img {
                        @include m.border;
                        margin: 0.5rem 1rem;
                        border-radius: 0.5rem;
                        width: 50px;
                        height: 50px;
                        box-shadow: 5px 5px 10px #ebebeb,
                            -5px -5px 10px #ffffff;
                        object-fit: cover;
                    }

                    &.name {
                        box-shadow: none;
                        margin: 0.5rem 0.3rem;
                        font-size: 1rem;
                        font-weight: 500;
                    }

                    &.denomination {
                        display: block;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        width: inherit;
                        box-shadow: none;
                        margin: auto 0.3rem auto 0;
                        background-color: transparent;
                        font-size: 1rem;
                        font-weight: 500;

                    }

                    &.deploy-arrow {
                        color: v.$color-primary-blue;
                        font-size: 2.5rem;
                        font-weight: 600;
                        margin-left: 0.5rem;
                        margin-right: 0.5rem;

                    }

                    &.deleted {
                        color: v.$color-error;
                        margin: auto 0.3rem auto 0;
                        font-size: 1rem;
                        font-weight: 500;
                    }

                    &.deployed {
                        font-size: 0.8rem;
                        padding: 0 1rem;
                        display: block;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: normal;
                    }
                }

                &.description {
                    width: 98%;
                    padding: 0.5rem;
                    box-shadow: none;
                    margin: 0 0.5rem;
                    background-color: white;
                    color: v.$color-primary-blue;
                    font-size: 0.8rem;
                    font-weight: 500;
                }
            }

        }


      
        .my-request__message-list__form {
            display: flex;
            flex-direction: column;
            box-sizing: border-box;
            bottom: 0;
            width: 100%;
            z-index: 8;

            .my-request__message-list__form__preview {
                max-width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                background-color: transparent;
                margin: 0;
                padding: 0.5rem;
                gap: 1rem;
                background-color: transparent;

                .my-request__message-list__form__preview__container {
                    display: flex;
                    flex-wrap: wrap;


                    .my-request__message-list__form__preview__container__image {
                        box-shadow: -5px 0 10px #6666661e,
                            -5px 0 10px #ffffff62,
                            5px 0 10px #66666680;
                        border-radius: 0.5rem;
                        width: 100px;
                        height: 100px;
                        object-fit: cover;

                    }

                    .my-request__message-list__form__preview__container__remove {
                        margin: 0 0.3rem;
                        width: 0.8rem;
                        height: 1.5rem;
                        border: none;
                        background-color: transparent;
                        color: red;
                        font-size: 1rem;
                        font-weight: 600;
                        transition: transform 0.1s ease;

                        /* For mouse */
                        @media (hover: hover) and (pointer: fine) {
                            cursor: pointer;
                        }

                        /* For touch */
                        @media (hover: none) and (pointer: coarse) {
                            cursor: default;
                        }


                        &:hover {
                            transform: scale(1.5);
                        }
                    }


                }
            }

        }

        .my-request__message-list__form__label {
            display: flex;
            align-items: center;
            margin: 0;
            padding: 0.5rem;
            background: white;
            box-shadow: 0 -1px 6px 1px rgba(0, 0, 0, 0.2);
            font-size: 1rem;
            font-weight: 500;
            color: v.$color-primary-orange;
            border-radius: 0 0 0.3rem 0.3rem;
            z-index: 8;

            .my-request__message-list__form__label__attach {
                font-size: 2rem;
                margin: 0.2rem 0.3rem;
                z-index: 10;

                /* For mouse */
                @media (hover: hover) and (pointer: fine) {
                    cursor: pointer;
                }

                /* For touch */
                @media (hover: none) and (pointer: coarse) {
                    cursor: default;
                }
            }

            .my-request__message-list__form__label__camera {
                font-size: 2rem;
                margin: 0.2rem 0.3rem;
                z-index: 10;

                /* For mouse */
                @media (hover: hover) and (pointer: fine) {
                    cursor: pointer;
                }

                /* For touch */
                @media (hover: none) and (pointer: coarse) {
                    cursor: default;
                }
            }

            .my-request__message-list__form__label__input {
                overflow: hidden;
                scrollbar-width: none;
                border-radius: 0.5rem;
                width: 100%;
                margin: 0 0.3rem;
                color: black;
                font-weight: 400;
                border: none;
                background-color: transparent;
                resize: none;
                z-index: 10;

                &::-webkit-scrollbar {
                    display: none;
                    /* For Chrome, Safari and Opera */
                }

                &:focus {
                    outline: none;
                }
            }

            .my-request__message-list__form__label__send {
                margin: auto;
                font-size: 2.5rem;
                margin-right: 0.5rem;
                z-index: 10;

                /* For mouse */
                @media (hover: hover) and (pointer: fine) {
                    cursor: pointer;
                }

                /* For touch */
                @media (hover: none) and (pointer: coarse) {
                    cursor: default;
                }
                

            }
        }

        .my-request__message-list__form__input {

            display: none;

        }

        .my-request__message-list__form__button {
            display: none;
        }


    }
}

@media (max-width: 1000px) {
    .my-request {
        width: 100%;
        height: 100%;

        .my-request__message-list {
            width: 100%;
            max-width: 90%;
            margin: auto;
        }

        .my-request__list {
            display: none;

            &.open {
                display: block;
                margin: 0 auto;
                max-width: 90%;

            }

        }

        .my-request__answer-list {
            display: none;


            &.open {
                display: flex;
                flex-direction: column;
                margin: 0 auto;
                width: 70%;
                height: 100%;
                max-width: 70%;

                .my-request__answer-list__header {
                    display: flex;
                    align-items: center;
                    width: 100%;

                    &.title {
                        display: block;
                        margin: 0;
                        width: 100%;
                        box-shadow: none;
                        padding: 0 0.8rem 0.8rem 0.8rem;
                        color: v.$color-primary-blue;
                        font-size: 1.2rem;
                        font-weight: 500;
                        ;
                    }

                    &.return {
                        display: block;
                        box-shadow: none;
                        width: auto;
                        font-size: 4rem;
                        margin: 0 auto 0 0.1rem;
                        color: v.$color-primary-orange;

                        /* For mouse */
                        @media (hover: hover) and (pointer: fine) {
                            cursor: pointer;
                        }

                        /* For touch */
                        @media (hover: none) and (pointer: coarse) {
                            cursor: default;
                        }

                    }
                }

            }
        }

        .my-request__message-list {
            display: none;

            &.open {
                display: flex;
                flex-direction: column;
                margin: 0 auto;
                max-width: 80%;
                width: 80%;
               

                .my-request__message-list__user {

                    .my-request__message-list__user__header {

                        &.description {
                            margin-top: 0;

                        }

                        .my-request__message-list__user__header__detail {

                            &.return {
                                display: block;
                                font-size: 4rem;
                                color: v.$color-primary-orange;

                               
                                @media (hover: hover) and (pointer: fine) {
                                    cursor: pointer;
                                }

                             
                                @media (hover: none) and (pointer: coarse) {
                                    cursor: default;
                                }
                            }
                        }
                    }
                }

               /*  .my-request__message-list__message {
                    overflow-y: auto;
                    height: auto
                } */
            }

        }
    }
}

@media (max-width: 800px) {
    .my-request {
        .my-request__list {
            &.open {
                max-width: 95%;
            }

        }
    }
}

@media (max-width: 480px) {
    .my-request {
        padding-top: 0;

        .my-request__message-list {
            margin: 0;
        }

        .my-request__answer-list.open,
        .my-request__message-list.open,
        .my-request__list.open {
            max-width: 100%;
            width: 100%;
        }

        .my-request__answer-list {
            &.open {
                margin: auto;


                .my-request__answer-list__header {
                    &.return {
                        font-size: 4rem;
                        // height: 50px;
                    }
                }
            }
        }

         .my-request__message-list {
            &.open {
                margin-top: 0;
                margin-bottom: 0;

                .my-request__message-list__user {
                    .my-request__message-list__user__header {


                        .my-request__message-list__user__header__detail {
                            border-radius: 0;

                            &.description {
                                padding: 0 0.5rem;
                                display: b lock;
                                overflow: hidden;
                                text-overflow: none;
                                white-space: normal;
                            }

                            &.return {
                                font-size: 4rem;
                                width: 15%;
                            }

                            &.img {
                                margin: 0.5rem 0.5rem 0.5rem 0.2rem;
                                border-radius: 0.5rem;
                            }

                            &.denomination {
                                width: 40%;

                                &.deployed {
                                    width: 100%;
                                }
                            }
                        }
                    }
                }

                .my-request__message-list__form__label {
                    border-radius: 0;
                }
            }
        }

    }
}

@media (max-height: 480px) {
    .my-request {
        overflow: auto;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
            /* For Chrome, Safari and Opera */
        }
    }
}