@use '../../styles/variables' as v;

.dashboard {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: v.$font;
   // height: 92vh;
   
    .dashboard__nav {
 
      width: 100%;
      background-color: white;

      .dashboard__nav__burger-menu {
        display: none
      }
        
        .dashboard__nav__menu {
            width: 100%;
            padding: 0;
            color: v.$color-primary-blue;
            display: flex;
            justify-content: space-around;
            font-size: 1.5rem;
            font-weight: 500;
            cursor: pointer;
            flex-wrap: wrap; 
            

            .dashboard__nav__menu__tab {
                margin: 0;
                padding: 0.5rem 1rem;
                border-radius: 0.5rem 0.5rem 0 0;
                transition: 0.1s;
                list-style-type: none;
                transition: transform 0.1s ease;

                &:hover {
                    transform: scale(1.2);
                    font-size: 1.5rem;
                    color: v.$color-primary-orange;
                }

                &.active {
                    font-size: 1.8rem;
                    color: v.$color-primary-orange;

                    &:hover {
                        transform: none;
                    }
                }
            }
        }
    }

    .dashboard__content {
       // position: relative;
        background-color: white;
          
    }
}

@media (max-width: 480px) {
    .dashboard {
        .dashboard__nav {
            display: flex;
            justify-content: center;
            .dashboard__nav__burger-menu {
                width: 100%;
                display: flex;
                border: none;
                background-color: transparent;
                cursor: pointer;
                
                .burger-icon {
                    width: 100%;
                    font-size: 2rem;
                    margin: 1rem;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    

                    .burger-icon__line {
                        width: 40%;
                        height: 0.2rem;
                        margin: 0.2rem;
                        background-color: v.$color-primary-orange;
                    }
                    
                    .burger-icon__middle {
                        width: 30%;
                        height: 0.2rem;
                        margin: 0.2rem;
                        background-color: v.$color-primary-blue;
                    }
          
                }
            }
            .dashboard__nav__menu {
                display: none;

                &.open {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    background-color: white;
                    position: absolute;
                    margin-top: 4rem;
                    width: 100%;
                    z-index: 1;
                    top: 4rem;
                    left: 0;
                    border-radius: 0 0 0.5rem 0.5rem;
                    box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.1);
                    padding: 0.5rem;
                    font-size: 1.5rem;
                    font-weight: 500;
                    cursor: pointer;
                    flex-wrap: wrap;

                    .dashboard__nav__menu__tab {
                        margin: 0;
                        padding: 0.5rem 1rem;
                        border-radius: 0.5rem 0.5rem 0 0;
                        transition: 0.1s;
                        list-style-type: none;
                        transition: transform 0.1s ease;

                        &:hover {
                            transform: scale(1.2);
                            font-size: 1.5rem;
                            color: v.$color-primary-orange;
                        }

                        &.active {
                            font-size: 1.8rem;
                            color: v.$color-primary-orange;

                            &:hover {
                                transform: none;
                            }
                        }
                    }
                }
                
               
            }
        }
    }
}




  
