@use '../../styles/variables' as v;

.dashboard {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: v.$font;
    // height: 92vh;

    .indicator {
        display: none;
        position: absolute;
        bottom: -3px;

        width: 100%;

        height: 3px;
        background: linear-gradient(130deg, v.$color-primary-blue, v.$color-primary-orange);
        border-radius: 5px;
        transition: 0.2s ease;

    }


    .dashboard__nav {
        width: 100%;
        max-width: 100%;
        margin: auto;

        .dashboard__nav__burger-menu {
            display: none;
        }

        .dashboard__nav__menu {
            display: flex;
            justify-content: space-around;
            padding: 0;
            position: relative;

            .dashboard__nav__menu__content__tab {
                position: relative;
                //width: 50%;
                //max-width: 80%;
                display: table-cell;
                text-align: center;
                margin-bottom: 0.5rem;
                color: v.$color-primary-blue;
                text-decoration: none;
                font-family: v.$font;
                font-weight: 500;
                font-size: 1.3rem;
                padding: 10px 10px 0 10px;
                transition: 0.2s ease color;

                .tab-content {
                    display: flex;
                    align-items: center;
                    align-items: flex-start;
                }

                .notification-badge {
                    margin-top: 0;
                    padding-bottom: 1rem;
                }

                &:hover {
                    color: v.$color-primary-orange;
                    cursor: pointer;

                    .indicator {
                        display: block;
                    }
                }

                &.active {
                    color: v.$color-primary-orange;

                    .indicator {
                        display: block;
                    }

                    /*  &:before,
                    &:after {
                        content: "";
                        position: absolute;
                        border-radius: 50%;
                        transform: scale(1);
                        transition: 0.2s ease transform;
                    }

                    &:before {
                        top: 0;
                        left: 10px;
                        width: 6px;
                        height: 6px;
                        background-color: v.$color-primary-orange;
                    }

                    &:after {
                        top: 5px;
                        left: 18px;
                        width: 4px;
                        height: 4px;
                        background-color: v.$color-primary-blue;
                    } */

                }
            }



            .dashboard__nav__menu__content__tab:before,
            .dashboard__nav__menu__content__tab:after {
                content: "";
                position: absolute;
                border-radius: 50%;
                transform: scale(0);
                transition: 0.2s ease transform;
            }

            .dashboard__nav__menu__content__tab:before {
                top: 0;
                left: 10px;
                width: 6px;
                height: 6px;
                background-color: v.$color-primary-orange;
            }

            .dashboard__nav__menu__content__tab:after {
                top: 5px;
                left: 18px;
                width: 4px;
                height: 4px;
                background-color: v.$color-primary-blue;
            }


            .dashboard__nav__menu__content__tab:hover:before,
            .dashboard__nav__menu__content__tab:hover:after {
                transform: scale(1);
            }

        }
    }

    .dashboard__content {
        // position: relative;
        background-color: transparent;

    }
}

@media (max-width: 780px) {
    .dashboard {
        .dashboard__nav {
            .dashboard__nav__menu {


                .dashboard__nav__menu__content__tab {
                    font-size: 0.9rem;
                }
            }
        }

    }
}

@media (max-width: 480px) {
    .dashboard {
        .dashboard__nav {
            display: flex;
            justify-content: center;

            .dashboard__nav__burger-menu {
                width: 100%;
                display: flex;
                border: none;
                background-color: transparent;
                cursor: pointer;

                .burger-icon {
                    width: 100%;
                    font-size: 2rem;
                    margin: 1rem;
                    display: flex;
                    flex-direction: column;
                    align-items: center;


                    .burger-icon__line {
                        width: 40%;
                        height: 0.2rem;
                        margin: 0.2rem;
                        background-color: v.$color-primary-orange;
                    }

                    .burger-icon__middle {
                        width: 30%;
                        height: 0.2rem;
                        margin: 0.2rem;
                        background-color: v.$color-primary-blue;
                    }

                }
            }

            .dashboard__nav__menu {
                display: none;

                &.open {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    background-color: white;
                    position: absolute;
                    width: 100%;
                    z-index: 1;
                    top: 4rem;
                    left: 0;
                    border-radius: 0 0 0.5rem 0.5rem;
                    box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.1);
                    padding: 1rem 0.5rem;
                    font-weight: 500;
                    cursor: pointer;
                    flex-wrap: wrap;
                    
                    .dashboard__nav__menu__content__tab {
                        margin: 0;
                        font-size: 1.3rem;
                        padding: 0.5rem 1rem 0 1rem;
                        border-radius: 0.5rem 0.5rem 0 0;
                        transition: 0.1s;
                        list-style-type: none;
                        transition: transform 0.1s ease;

                        &:hover {
                            .indicator {
                                display: none;
                            }

                            /* transform: scale(1.2);
                            font-size: 1.5rem;
                            color: v.$color-primary-orange; */
                        }

                        &.active {
                            font-size: 1.3rem;
                            color: v.$color-primary-orange;

                            &:hover {
                                transform: none;
                            }
                        }
                    }
                }


            }
        }
    }
}