/* fredoka-light-300 - latin */
@font-face {
  font-display: swap;
  font-family: 'Fredoka';
  font-style: normal;
  font-weight: 300;
  src: url('../assets/fredoka/Fredoka-Light.woff2') format('woff2');
}
/* fredoka-regular-400 - latin */
@font-face {
  font-display: swap;
  font-family: 'Fredoka';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fredoka/Fredoka-Regular.woff2') format('woff2');
}
/* fredoka-medium-500 - latin */
@font-face {
  font-display: swap;
  font-family: 'Fredoka';
  font-style: normal;
  font-weight: 500;
  src: url('../assets/fredoka/Fredoka-Medium.woff2') format('woff2');
}
/* fredoka-semiBold-600 - latin */
@font-face {
  font-display: swap;
  font-family: 'Fredoka';
  font-style: normal;
  font-weight: 600;
  src: url('../assets/fredoka/Fredoka-SemiBold.woff2') format('woff2');
}
/* fredoka-bold-700 - latin */
@font-face {
  font-display: swap;
  font-family: 'Fredoka';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fredoka/Fredoka-Bold.woff2') format('woff2');
}