@use '../../styles/variables' as v;
@use '../../styles/mixins' as m;

.forgot-password-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .login-container__logo {
        display: flex;
        margin: 0.5rem 0 0 0;
  
        .__image {
          width: 50px;
          height: 50px;
        }
  
        .__title {
          color: v.$color-primary-blue;
          font-family: v.$font;
          font-weight: v.$font-title-weight;
          font-size: 2.3rem;
        }
      }

    .forgot-password-container__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 1rem;
       

        &__title {
            margin-top: 1rem;
            text-align: center;
            font-size: 1.8rem;
            color: v.$color-primary-orange;
        }

        &__subtitle {
            width: 600px;
            margin-top: 1.5rem;
            margin-bottom: 0.5rem;
            text-align: center;
            font-size: 1.2rem;
            color: v.$color-primary-blue;
        }


        /*  .forgot-password-container__form__error-message {} */

        &__input {
            width: 30%;
            height: 40px;
            margin-top: 1rem;
            margin-left: 1rem;
            margin-right: 1rem;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 12px;

            &:focus {
                @include m.border;
            }
        }
        .show-password {
            @include m.show-password;
            &{margin-bottom: 0.5rem;}
        }

        &__button {
            @include m.orange-button;
            & {margin-top: 0.5rem;}


        }
    }
}

@media (max-width: 800px) {
    .forgot-password-container {
        .forgot-password-container__form {
            &__subtitle {
                width: 80%;
            }
            &__input {
                width: 70%;
            }
        }
    }
}