@use '../../../styles/variables' as v;
@use '../../../styles/mixins' as m;

.my-request {
  width: 100%;
  display: flex;
  height: 100%;
  overflow: hidden;
  scrollbar-width: none;
  padding-top: 0.5rem;

  &::-webkit-scrollbar {
    display: none;
    /* For Chrome, Safari and Opera */
  }

  .my-request__container {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 30%;
    width: 100%;

    .my-request__container__deploy {
      font-size: 1rem;
      color: v.$color-primary-orange;
      text-decoration: underline;
      border: none;
      background-color: transparent;
      margin-bottom: 0.2rem;

      /* For mouse */
      @media (hover: hover) and (pointer: fine) {
        cursor: pointer;
      }

      /* For touch */
      @media (hover: none) and (pointer: coarse) {
        cursor: default;
      }
    }

    .my-request__container__list {
      @include m.fader-top;
      & {
        overflow-y: auto;
        scrollbar-width: none;
        margin: 0 0.1rem;
        -webkit-overflow-scrolling: touch; // for iOS momentum scrolling
        touch-action: pan-y;
      }
      &::-webkit-scrollbar {
        display: none;
        /* For Chrome, Safari and Opera */
      }

    /*   .my-request__container__deploy {
        font-size: 1rem;
        color: v.$color-primary-orange;
        text-decoration: underline;
        border: none;

        background-color: transparent;
      } */

      &.no-req {
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 0.5rem auto;
        border-radius: 0.5rem;
        box-shadow: none;
        max-width: 90%;
        color: v.$color-primary-orange;
        text-align: center;
      }

      &.loading {
        position: relative;
      }

      .my-request__container__list__detail {
        position: relative;
        overflow: hidden;
        scrollbar-width: none;
        padding-left: 0;

        &::-webkit-scrollbar {
          display: none;
        }

        .notification-badge {
          position: absolute;
          top: 1.2rem;
          right: 1.2rem;
          /*  font-family: v.$font;
                color: v.$color-validation; */
        }
      }
    }
  }

  .my-request__answer-list {
    margin: 0;
    width: 30%;
    // height: 100%;
    max-width: 30%;

    .my-request__answer-list__header {
      &.title {
        position: relative;
        margin: 0.5rem 0 0.5rem 0;
        width: 100%;
        box-shadow: none;
        padding: 0 0.8rem 0.8rem 0.8rem;
        color: v.$color-primary-blue;
        font-size: 1.2rem;
        font-weight: 500;
      }

      &.title::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background: linear-gradient(
          to right,
          transparent 0%,
          v.$color-primary-blue,
          v.$color-primary-orange,
          transparent 100%
        );
      }

      &.return {
        display: none;
      }
    }

    &.loading {
      position: relative;
    }

    &.no-conv {
      display: flex;
      justify-content: center;
      width: 100%;
      margin: auto;
      border-radius: 0.5rem;
      box-shadow: none;
      max-width: 90%;
      // height: 100%;
      color: v.$color-primary-orange;
      text-align: center;
    }

    .my-request__answer-list__container {
      overflow-y: auto;
      -webkit-overflow-scrolling: touch; // for iOS momentum scrolling
      touch-action: pan-y;
      scrollbar-width: none;
      height: auto;

      &::-webkit-scrollbar {
        display: none;
        /* For Chrome, Safari and Opera */
      }

      .my-request__answer-list__user {
        overflow: hidden;
        scrollbar-width: none;
        display: flex;
        flex-direction: column;
        margin: 0.5rem;
        border-radius: 0.5rem;
        background-color: white;
        box-shadow:
          -5px 0 10px #6666661c,
          -5px 0 10px #ffffff17,
          5px 0 10px #6666661c;
        height: 4rem;

        /* For mouse */
        @media (hover: hover) and (pointer: fine) {
          cursor: pointer;
        }

        /* For touch */
        @media (hover: none) and (pointer: coarse) {
          cursor: default;
        }

        &::-webkit-scrollbar {
          display: none;
          /* For Chrome, Safari and Opera */
        }

        &.deleted {
          @include m.deleted;
        }

        &.selected-user {
          @include m.selected-user;
        }

        &.not-viewed {
          @include m.not-viewed;
        }

        .my-request__answer-list__user__header {
          position: relative;
          display: flex;
          overflow: hidden;

          &.img {
            @include m.border;
            & {
              margin: 0.4rem;
              border-radius: 0.5rem;
              width: 50px;
              min-width: 50px;
              height: 50px;
              z-index: 2;
              object-fit: contain;
            }
          }

          &.name {
            word-break: break-all;
            margin: auto 0.3rem auto 0;
            background-color: transparent;
            font-size: 0.8rem;
            font-weight: 500;
            width: 100%;
            max-width: 75%;
          }

          &.denomination {
            word-break: break-all;
            margin: auto 0.3rem auto 0;
            background-color: transparent;
            font-size: 0.8rem;
            font-weight: 500;
            width: 100%;
            max-width: 75%;
          }

          &.deleted {
            position: absolute;
            top: 25%;
            left: 25%;
            color: v.$color-error;
            margin: auto 0.3rem auto 0;
            width: 100%;
            font-size: 1rem;
            font-weight: 500;
            word-break: break-all;
          }
        }
      }
    }
  }

  .my-request__message-list {
    display: flex;
    flex-direction: column;
    margin: 0 1rem;
    width: 40%;
    height: 100%;
    min-width: 40%;
    max-width: 40%;
    height: 100%;

    &.loading {
      position: relative;
    }
  }
}

@media (max-width: 1000px) {
  .my-request {
    width: 100%;
    height: 100%;

    .my-request__container {
      max-width: 100%;

      .my-request__container__list {
        display: none;

        &.open {
          display: block;
          margin: 0 auto;
          width: 100%;
          max-width: 80%;
        }
      }
    }

    .my-request__message-list {
      width: 100%;
      max-width: 90%;
      margin: auto;
    }

    .my-request__answer-list {
      display: none;

      &.no-conv {
        margin-top: 0.5rem;
      }

      &.open {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 70%;
        height: 100%;
        max-width: 70%;

        .my-request__answer-list__header {
          display: flex;
          align-items: center;
          width: 100%;

          &.title {
            display: block;
            margin: 0;
            width: 100%;
            box-shadow: none;
            padding: 0.5rem 0.8rem 0.8rem 0.8rem;
            color: v.$color-primary-blue;
            font-size: 1.2rem;
            font-weight: 500;
          }

          &.return {
            display: block;
            box-shadow: none;
            width: auto;
            font-size: 4rem;
            margin: 0 auto 0 0.1rem;
            color: v.$color-primary-orange;

            /* For mouse */
            @media (hover: hover) and (pointer: fine) {
              cursor: pointer;
            }

            /* For touch */
            @media (hover: none) and (pointer: coarse) {
              cursor: default;
            }
          }
        }
      }
    }

    .my-request__message-list {
      display: none;

      &.open {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        max-width: 80%;
        width: 80%;
      }
    }
  }
}

@media (max-width: 800px) {
  .my-request {
    .my-request__container {
      .my-request__container__list {
        &.open {
          max-width: 95%;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .my-request {
    padding-top: 0;

    .my-request__container {
      .my-request__container__deploy {
        margin-top: 0.5rem;
        margin-bottom: 0.2rem;
      }

      .my-request__container__list.open {
        max-width: 100%;
        width: 100%;
      }
    }

    .my-request__message-list {
      margin: 0;
    }

    .my-request__answer-list.open,
    .my-request__message-list.open {
      max-width: 100%;
      width: 100%;
    }

    .my-request__answer-list {
      &.open {
        margin: auto;

        .my-request__answer-list__header {
          &.return {
            font-size: 4rem;
            // height: 50px;
          }
        }
      }
    }

    .my-request__message-list {
      &.open {
        margin-top: 0;
        margin-bottom: 0;

        /* .my-request__message-list__form__label {
                    border-radius: 0;
                } */
      }
    }
  }
}

@media (max-height: 480px) {
  .my-request {
    overflow: auto;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
      /* For Chrome, Safari and Opera */
    }
  }
}
