@use '../../../../styles/variables' as v;
@use '../../../../styles/mixins' as m;


.delete-item-modal {
    //height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: v.$font;
    font-weight: 500;
    height: 100vh;
    height: 100dvh;


    .delete-item-modal__container {
        @include m.modal-container;

        & {
            justify-content: space-around;
            width: 50vw;
            height: initial;
            padding: 1rem;
        }

        .delete-item-modal__container__title {
            margin:0 auto;
            font-size: 1.5rem;
            font-weight: 500;
            color: v.$color-primary-orange;
            text-align: center;


        }

        .delete-item-modal__container__container__button {
            display: flex;
            position: relative;

            .delete-item-modal__container__container__button__delete,
            .delete-item-modal__container__container__button__cancel {
                @include m.blue-button;
            }

            .delete-item-modal__container__container__button__delete {
                background-color: red;
            }
        }

        .delete-item-modal__container__container__button::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 2px;
            background: linear-gradient(to right, transparent 0%, v.$color-primary-blue, v.$color-primary-orange, transparent 100%);
        }

        .delete-item-modal__container__description {
            text-align: center;
            margin: 1rem auto;
            font-size: 1.2rem;
            color: red;
            font-weight: 400;

            .modal-args {
                color: v.$color-primary-blue;
                font-size: 1.5rem;
            }
        }
    }
}

.delete-item-modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.2);
    z-index: 999;
    backdrop-filter: blur(5px);
}


@media (max-width: 830px) {

    .delete-item-modal {
        .delete-item-modal__container {
            width: 80vw;
            height: initial;
        }
    }

}

@media (max-width: 480px) {


    .delete-item-modal {
        .delete-item-modal__container {
            justify-content: space-evenly;
            width: 100%;
            height: initial;
            border-radius: 0;
            padding: 1rem 1rem 1rem 1rem;
        }
    }

}

@media (max-height: 550px) {
    .delete-item-modal {
        .delete-item-modal__container {
            height: 60%;
        }
    }
}