@use '../../../styles/variables' as v;
@use '../../../styles/mixins' as m;


.register-container {
  width: 100%;
  max-width: 100%;
  margin: auto;

  &.title {
    position: relative;
    text-align: center;
    margin-top: 2rem;
    font-family: v.$font;
    font-size: 2rem;
    font-weight: 500;
    width: 100%;
    color: v.$color-primary-orange;


    span {
      cursor: pointer;
    }

    span:hover {
      color: v.$color-primary-blue;
    }
  }

  &.title::before,
  &.title::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 20rem;
    height: 2px;
    background: linear-gradient(to right, transparent 0%, v.$color-primary-blue, v.$color-primary-orange, transparent 100%);
  }

  &.title::before {
    top: 0;
    z-index: 2;
  }

  &.title::after {
    bottom: 0;
    z-index: 2;
  }

  &.error {
    color: v.$color-error;
    font-size: 1rem;
    font-weight: 600;
    margin: auto;
    text-align: center;
  }

  &.success {
    color: v.$color-validation;
    font-size: 1rem;
    font-weight: 600;
    margin: auto;
    text-align: center;
  }

  .register-container__form {
    max-width: 60rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1rem auto;

    .register-container__form__form {
      padding: 1rem;
      width: 48%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      font-family: v.$font;
      border-radius: 10px;
      background: #ffffff;
      box-shadow: -5px 0 10px #66666610,
        -5px 0 10px #ffffff05,
        5px 0 10px #6666660e;

      .show-password {
        @include m.show-password;
        & {
          margin-bottom: 0.5rem;
          width: 60%;
          .__input {
            margin-bottom: 0;
          }
        }
       
      }

      &.category {
        box-shadow: none;
        text-align: center;
        font-size: 1.5rem;
        font-weight: 500;
        color: v.$color-primary-blue;
      }

      &.input {
        width: 60%;
        height: 40px;
        margin-bottom: 0.5rem;
        margin-left: 1rem;
        margin-right: 1rem;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 12px;
        box-shadow: none;

        &.siret {
          margin-bottom: 0.5rem;
        }

        &:focus {
          @include m.border;
        }
      }


      &.button {
        @include m.orange-button;

        &.pro {
          margin-bottom: 0.5rem;
        }
      }

    }
  }
}

@media (max-width: 800px) {

  .register-container {
    .register-container__form {
      flex-direction: column;
      align-items: center;
      
      .register-container__form__form {
        position: relative;
        margin-bottom: 1rem;
        max-width: 100%;
        width: 100%;

        .show-password {
          max-width: 70%;
          width: 70%;
        }

        &.category {
          margin-bottom: 0;
        }

        &.input {
          max-width: 70%;
          width: 70%;
        }

        .button {
          margin-top: 0.5rem;
          width: 50%;

          &.pro {
            margin-top: 0rem;
          }
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .register-container {
    .register-container__form {
      .register-container__form__form {
        .show-password {
          width: 100%;
          max-width: 90%;
          margin-bottom: 0.5rem;
        }
        .input {
          width: 100%;
          max-width: 90%;
          margin-left: 0;
          margin-right: 0;
        }

        .button {
          margin-top: 0.5rem;

          &.pro {
            margin-top: 0rem;
          }
        }
      }
    }
  }
}