@use '../../../styles/variables' as v;


.register-container {


  &.title {
    text-align: center;
    font-family: v.$font;
    font-size: 2rem;
    font-weight: 500;
    color: v.$color-primary-orange;
    //cursor: pointer;

    span {
      cursor: pointer;
    }

    span:hover {
      color: v.$color-primary-blue;
    }
  }

  &.error {
    color: v.$color-error;
    font-size: 1rem;
    font-weight: 600;
    margin: auto;
    text-align: center;
  }

  &.success {
    color: v.$color-validation;
    font-size: 1rem;
    font-weight: 600;
    margin: auto;
    text-align: center;
  }

  .register-container__form {
    max-width: 60rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1rem auto;

    .register-container__form__form {
      padding: 1rem;
      width: 48%;
      ;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-family: v.$font;
      border-radius: 10px;
      background: #ffffff;
      // box-shadow:  22px 22px 44px #d4d4d4,
      //   -10px -2px 44px #ffffff;
      /*    box-shadow:  5px 5px 10px #b4b4b4,
      -5px -5px 10px #ffffff; */
      box-shadow: 5px 5px 10px #dfdfdf,
        -5px -5px 10px #ffffff;

      &.category {
        box-shadow: none;
        text-align: center;
        font-size: 1.5rem;
        font-weight: 500;
        color: v.$color-primary-blue;
      }

      &.input {
        width: 60%;
        //width: 100%;
        height: 40px;
        margin-bottom: 10px;
        margin-left: 1rem;
        margin-right: 1rem;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 12px;
        box-shadow: none;
      }


      &.button {
        box-shadow: none;
        text-align: center;
        width: 30%;
        height: 40px;
        margin-top: 0.5rem;
        margin-bottom: 1rem;
        background-color: v.$color-primary-orange;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.2s;
      }

      &.button:hover {
        background-color: v.$color-primary-blue;
      }


    }
  }
}

@media (max-width: 800px) {

  .register-container {
    .register-container__form {
      flex-direction: column;
      align-items: center;

      .register-container__form__form {
        margin-bottom: 1rem;
        max-width: 100%;
        width: 100%;

        &.category {
          margin-bottom: 0;
        }

        &.input {
          max-width: 70%;
          width: 70%;
        }

        &.button {
          max-width: 50%;
          width: 50%;
        }
      }
    }
  }
}