@use '../../../styles/variables' as v;

.register-container {
    max-width: 60rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 1rem auto;

   

}

p {
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-weight: 500;
    color: v.$color-primary-blue;
}

.register {
    padding: 1rem;
    width: 48%;;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: v.$font;
    border-radius: 10px;
    background: #ffffff;
    box-shadow:  22px 22px 44px #d4d4d4,
             -22px -22px 44px #ffffff;
}

.input {
    width: 60%;
}

.register-button {
    text-align: center  ;
    width: 30%;
    height: 40px;
    margin-bottom: 1rem;
    background-color: v.$color-primary-orange;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .register-button:hover {
    background-color: v.$color-primary-blue;
  }

// Google button
.button-google {
    max-width: 320px;
    display: flex;
    padding: 0.5rem 0.6rem;
    margin-bottom: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    align-items: center;
    border-radius: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.25);
    gap: 0.75rem;
    color: rgb(65, 63, 63);
    background-color: #fff;
    cursor: pointer;
   
  }
  
  .button-google svg {
    height: 24px;
  }
  
  .button-google:hover {
    transform: scale(1.02);
  }

  // Facebook button
  .button-facebook {
    display: flex;
    background-color: #039be5;
    background-image: linear-gradient(to top right, #0163E0,#18ACFE);
    color: #ffffff;
    padding: 0.5rem 1.1rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin-bottom: 1rem;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    border-radius: 0.5rem;
    gap: 0.75rem;
    border: none;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    cursor: pointer;
    
  }
  
  .button-facebook svg {
    height: 24px;
  }
  
  .button-facebook:hover {
    transform: scale(1.02);
  }