@use '../../../../styles/variables' as v;
@use '../../../../styles/mixins' as m;

.info {
    margin-right: -1rem;
    z-index: 2;
    /* For mouse */
    @media (hover: hover) and (pointer: fine) {
      cursor: pointer;
    }

    /* For touch */
    @media (hover: none) and (pointer: coarse) {
      cursor: default;
    }
  .info-push {
    font-size: 1.2rem;
    color: v.$color-primary-orange;

    &.no-push {
      color: v.$color-primary-blue;
    }
  }
}
